{% extends 'layout.html'%}

{% block pagetitle %}
{{title}}
{% endblock %}

{% block content %}
    {% include 'partials/jumbotron.html' %}
    <div class="container">
        <div class="row">
            {% include 'partials/carousel.html'%}
        </div>
        <div class="row">
            {% for person in persons %}
                    {% include 'partials/person.html'%}
                {% endfor %}
        </div>
        
    </div>
    {% include 'partials/jumbotron.html' %}
{% endblock %}